{% extends 'base.html' %}

{% block title %}Nuevo Cliente{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}


{% block sidebar %}
    {% include 'sidebar_admin.html' %}
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}


<div class="container align-self-stretch ">
    <div class="row vh-100 rounded align-items-center justify-content-center mx-0">
        <div class="col-sm-12 col-xl-7 bg-secondary rounded">
            <div class=" ">
                <h1 class="display-2 text-center">Registro de Clientes</h1>
                <form class="form-signin" action="{{ url_for('home_BP.AddClient') }}" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputNombre" name="nombre" placeholder="">
                        <label for="floatingInputNombre">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputCedula" name="cedula" placeholder="">
                        <label for="floatingInputCedula">Cédula</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInputCorreo" name="correo" placeholder="name@example.com">
                        <label for="floatingInputCorreo">Correo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInputTelefono" name="telefono" placeholder="Telefono">
                        <label for="floatingInputTelefono">Teléfono</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" name="servicio" aria-label="Floating label select example">
                            <option selected>Selecciona un Servicio</option>
                            <option value="1">Diseño e Instalación de Sistema Fotovoltaico</option>
                            <option value="2">Diseño e Instalación de Sistema Eléctrico</option>
                            <option value="3">Energía Eléctrica</option>
                            <option value="4">Automatización Residencial</option>
                            <option value="5">Automatización Industrial</option>
                            <option value="6">Otro</option>
                        </select>
                        <label for="floatingSelect">Servicios</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" name="comentarios" placeholder="Leave a comment here" id="floatingTextarea" style="height: 150px;"></textarea>
                        <label for="floatingTextarea">Comentarios</label>
                    </div>
                    <div class="rounded" id="map" style="height: 400px;"></div>
                        <input type="hidden" name="latitud" id="latitud" />
                        <input type="hidden" name="longitud" id="longitud" />
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    var map = L.map('map').setView([7.96854,-80.43088], 12);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    var marker;

    map.on('click', function (e) {
        if (marker) {
            map.removeLayer(marker);
        }
        marker = L.marker(e.latlng).addTo(map);
        document.getElementById('latitud').value = e.latlng.lat;
        document.getElementById('longitud').value = e.latlng.lng;
    });
</script>

{% endblock %}
