

        <nav class="navbar bg-secondary navbar-dark">
            <a href="index.html" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><img src="{{ url_for('login_BP.static', filename='img/logo.png' )}}" alt="" style="width: 50px; height: 50px;">CorpTesla</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    {% if session['profile_picture'] %}
                    <img class="rounded-circle" src="{{ url_for('login_BP.static', filename='img/' + session['profile_picture']) }}" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    {% endif %}
                </div>
                <div class="ms-3">
                    {% if session['name'] %}
                    <h6 class="mb-0">{{ session['name'] }}</h6>
                    {% endif %}
                    {% if session['role'] %}
                    <span>{{ session['role'] }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a href="{{ url_for('home_BP.VentasDashboard') }}" class="nav-item nav-link {{ 'active' if pagina_actual == 'VentasDashboard' else '' }}"><i class="fa fa-tachometer-alt fa-xl me-2"  style="color: #ff0000;"></i>Dashboard</a>
                <a href="{{ url_for('home_BP.AddClient') }}" class="nav-item nav-link {{ 'active' if pagina_actual == 'AddClient' else '' }}"><i class="fa-solid fa-user-plus me-2" style="color: #ff0000;"></i>Agregar Cliente</a>
                <a href="{{ url_for('home_BP.ClientCrud') }}" class="nav-item nav-link {{ 'active' if pagina_actual == 'ClientCrud' else '' }}"><i class="fa-regular fa-address-card fa-xl me-2" style="color: #ff0000;"></i>Clientes</a>
                <a href="{{ url_for('home_BP.Cotizacion') }}" class="nav-item nav-link {{ 'active' if pagina_actual == 'Cotizacion' else '' }}"><i class="fa-solid fa-file-invoice-dollar fa-xl me-2"  style="color: #ff0000;"></i>Cotización</a>
                <a href="#" class="nav-item nav-link {{ 'active' if pagina_actual == 'Pagos' else '' }}"><i class="fa-solid fa-dollar-sign fa-2xl me-2" style="color: #ff0000;"></i>Pagos</a>
            </div>
        </nav>