{% extends 'base.html' %}



{% block title %}Nuevo usuario{% endblock %}






    {% block sidebar %}
        {% include 'sidebar_admin.html' %}
    {% endblock %}
    
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <div class="container-fluid pt-4 px-4">
        <div class="row vh-200 bg-secondary rounded align-items-center justify-content-center mx-0">
            <div class="col-md-6 text-center">
                <a class="display-3" href="#">Registrar nuevo Empleado</a>
                <form class="form-signin" action="{{ url_for('login_BP.register') }}" method="POST" enctype="multipart/form-data">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputNombre" name="name" placeholder="">
                        <label for="floatingInputNombre">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInputCedula" name="cedula" placeholder="">
                        <label for="floatingInputCedula">Cédula</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInputCorreo" name="email" placeholder="name@example.com">
                        <label for="floatingInputCorreo">Correo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingpassword" name="password" placeholder="Contraseña">
                        <label for="floatingpassword">Contraseña</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" name="roles" aria-label="Floating label select example">
                        <option selected>Selecciona un Rol</option>
                        <option value="1">Admin</option>
                        <option value="2">Ingeniero</option>
                        <option value="3">Ventas</option>
                        <option value="4">Instalador</option>
                        
                        </select>
                        <label for="floatingSelect">Roles</label>
                    </div>
                    <div class="mb-3">
                        <label for="formFileSm" class="form-label">Inserte imagen de perfil</label>
                        <input class="form-control form-control-sm bg-dark" id="formFileSm" name="foto" type="file">
                    </div>
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
    
